version: "3.8"

services:
  livekit:
      image: livekit/livekit-server:latest
      container_name: livekit
      volumes:
      - ./livekit.yaml:/etc/livekit.yaml:ro
      command: ["--config", "/etc/livekit.yaml"]
      ports:
      - "7880:7880"
      - "7881:7881"
      - "7882:7882/udp"
      environment:
       LIVEKIT_LOG_LEVEL: debug
      restart: unless-stopped